<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a href="/" class="navbar-brand">TinyApp</a>
      <a class="navbar-text" href="#">Login</a>
      <a class="navbar-text" href="#">Register</a>
  </div>
</nav>